@media screen and (min-width: 768px) and (min-height: 520px) {
    .lds-default {
        top: calc(50%);
        left: calc(50%);
    }

    .dropdown-item {
        margin: 0;
    }

    .dropdown-item:hover {
        cursor: pointer;
    }

    .jumbotron {
        width: 86%;
        margin-top: 60px;
        font-size: 1.5em;
    }

    .jumbotron h1 {
        margin-top: 0;
    }

    .jumbotron .col-md-4 {
        align-self: flex-end;
    }

    .servText {
        font-size: 1em;
    }

    .content_img div {
        display: block;
        position: absolute;
        width: 92%;
        height: 100%;
        top: 0;
        left: 4%;
        padding-top: calc(3%);
        background: #141759;
        color: #fff2f2;
        font-weight: bold;
        font-size: 1.2em;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: visibility 0.4s, opacity 0.6s linear;
        transition: visibility 0.4s, opacity 0.6s linear;
    }

    #manBut,
    #mobBut {
        margin-top: 32px;
    }

    .content_img:hover {
        cursor: pointer;
    }

    .content_img:hover div {
        visibility: visible;
        opacity: 0.9;
    }

    .content_img:hover p {
        visibility: hidden;
    }

    .modal-body {
        font-size: 1.2em;
    }

    #back-to-top {
        bottom: 26px;
        right: 39px;
        padding: 8px 13px;
    }
}

@media screen and (min-width: 992px) and (min-height: 520px) {
    .jumbotron {
        margin-top: 76px;
    }

    .content_img div {
        padding-top: calc(10%);
    }

    #manBut,
    #mobBut {
        margin-top: 48px;
    }

    #keyBut {
        margin-top: 42px;
    }
}
