@media screen and (min-width: 768px) and (min-height: 520px) {
    #navLogo {
        height: 70px;
    }

    .navbar-nav {
        padding-right: 24px;
    }

    h4 {
        padding-top: 10%;
        font-size: 2em;
    }

    .serv a div p {
        text-decoration: none;
    }

    .picDiv {
        text-align: right;
    }
        

}
