body {
    font-family: 'Mukta', sans-serif;
    /* background-color: #c3b1e1; */
    background-color: #fff2f2;
}

#navbar {
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #b8c2ce;
    border-bottom: 2px solid black;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(20, 23, 89, 0.8);
    float: right;
}

#navLogo {
    height: 50px;
    width: auto;
}

.picClass{
    height: 300px;
}

#homePic {
    background: url('../images/Bath-City.jpg');
    background-position: center;
    background-size: cover;
}

#servPic {
    background: url('../images/patrol.jpg');
    background-position: center;
    background-size: cover;
}

#teamPic{
    background: url('../images/manned.jpg');
    background-position: center;
    background-size: cover; 
}

#aboutPic{
    background: url('../images/Key-Holding.jpg');
    background-position: center;
    background-size: cover; 
}

h4 {
    color: white;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20%;
}

#compName {
    margin-top: 6px;
    color: #fff2f2;
    background-color: #141759;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.addInfo {
    margin-top: 2px;
    color: #fff2f2;
    background-color: black;
    font-size: 1.5em;
    text-align: center;
}

.container {
    margin-top: 24px;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 98;
    padding: 6px 10px;
    background-color: #c2573c;
    color: aliceblue;
    box-shadow: 7px 7px 13px darkgray;
}
