body {
    font-family: 'Mukta', sans-serif;
    /* background-color: #c3b1e1; */
    background-color: #fff2f2;
    padding-bottom: 40px;
}

.row {
    margin: 0;
}

a:hover {
    text-decoration: none;
}

.picClass{
    height: 300px;
    border: 2px solid black;
}

#homePic {
    background: url('../images/Bath-City.jpg');
    background-position: center;
    background-size: cover;
}

#servPic {
    background: url('../images/sec-guyD.jpg');
    background-position: center;
    background-size: cover;
}

#teamPic{
    background: url('../images/Meeting-roomD.jpg');
    background-position: center;
    background-size: cover; 
}

#aboutPic{
    background: url('../images/certD.jpg');
    background-position: center;
    background-size: cover; 
}

h4 {
    color: white;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    padding-top: 20%;
}

#compName {
    margin-top: 6px;
    padding: 0 1em;
    color: #cf1c08;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.addInfo {
    margin-bottom: 3px;
    color: #fff2f2;
    background-color: #141759;
    font-size: 1.5em;
    text-align: center;
}

.container {
    margin-top: 24px;
}

#navbar {
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #b8c2ce;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(20, 23, 89, 0.8);
    float: right;
}

#navLogo {
    height: 50px;
    width: auto;
}

.navbar-dark .navbar-toggler {
    border: 2px solid #141759;
    background-color: rgba(255, 255, 0, 0.4);
}



/* Services */

.serv {
    text-align: center;
    background: #ffff00;
}

.serv a div p {
    text-decoration: underline;
    padding-bottom: 2px;
}

.serv a div{
    padding-top: 4px;
}

.serv a :hover {
    color: white;
    background: #141759;
}

.serv p {
    margin-bottom: 0;
}

.picDiv {
    text-align: center;
    margin-bottom: 16px;
}

.picBubble {
    width: 140px;
    height: auto;
    border-radius: 50%;
    padding: 3px;
    border: 1px solid #141759;
}

hr {
    width: 80%;
    color: #141759;
}

/* About */

#iso {
    float: left;
    margin-right: 16px;
}
/* Contact */

.contacts {
    background: black;
    color: #b8c2ce;
    text-align: right;
    line-height: normal;
    padding: 12px 24px;
    padding-left: 36px;
    margin-bottom: 0;
    width: fit-content;
    float: right;
}

.contacts p {
    margin-bottom: 0;
    line-height: 1.5em;
}

.contacts p a {
    color: #b8c2ce;
}

.contacts p a:hover {
    color: #c2573c;
}

.compInfo {
    margin: 48px 0px;
}

h5 {
    color: #cf1c08;
    font-weight: bold;
}

.col-sm-6 p {
    margin-bottom: 6px;
}

#map {
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 7px 7px 13px darkgray;
    min-height: 200px;
}

h2 {
    color: #141759;
    text-align: center;
    font-weight: bold;
}

#contactForm .row {
    margin-left: -15px;
    margin-right: -15px;
}

.form-control {
    border: 1px solid black;
    box-shadow: 7px 7px 13px darkgray;
}

#sendMail {
    color: white;
    background: #141759;
    display: block;
    margin: 24px auto;
}

#sendMail:hover {
    box-shadow: 7px 7px 13px darkgray;
    border: 1px solid #141759;
    color: #141759;
    background: lightskyblue;
}

#back-to-top {
    display: none;
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 98;
    padding: 6px 10px;
    background-color: #c2573c;
    color: aliceblue;
    box-shadow: 7px 7px 13px darkgray;
}
