body {
    font-family: 'Mukta', sans-serif;
    /* background-color: #c3b1e1; */
    background-color: #fff2f2;
}

#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: top 0.3s;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #b8c2ce;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(20, 23, 89, 0.8);
}

.navbar-dark .navbar-nav .active > .nav-link {
    color: #141759;
}

#contactLink:hover {
    color: rgba(255, 255, 255, 0.75);
}

#navLogo {
    height: 50px;
    width: auto;
}

.navbar-dark .navbar-toggler {
    border-color: rgba(20, 23, 89, 0.8);
}

.dropdown-menu.show {
    margin: 0;
    padding: 0;
    background-color: #b8c2ce;
    border: none;
}

.dropdown-item {
    color: rgba(255, 255, 255, 0.8);
}

.dropdown-item:hover {
    color: #141759;
}

.jumbotron {
    background-image: url('../images/Bath-City.jpg');
    background-position: center;
    background-size: cover;
    background-color: #b8c2ce;
    background-blend-mode: color-burn;
    color: white;
    margin: 0 auto;
    width: 98%;
    margin-top: 70px;
    margin-bottom: 24px;
    font-size: 1em;
    border-radius: 3%;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-shadow: 5px 5px 10px darkgray;
}

.container {
    margin-top: 3em;
    text-align: center;
}

.container h2 {
    color: #141759;
    font-weight: bold;
}

#servs .col-md-4 {
    margin-bottom: 16px;
}

.servPic {
    margin: 0;
    width: 100%;
    height: auto;
    position: relative;
    box-shadow: 7px 7px 13px darkgray;
}

.servText {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.img_description {
    display: none;
}

#contact {
    margin-bottom: 40px;
}

#contactForm .row .form-group {
    margin-bottom: 0;
}

#sendMail {
    background-color: #141759;
    color: white;
}

footer {
    padding: 16px;
    background-color: #b8c2ce;
    color: #141759;
}

.footLogo {
    width: 100%;
}

.footH3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.footP {
    margin: 0;
    font-weight: 500;
}

#map {
    height: 200px;
    width: 100%;
}

.modal-content {
    background: #fff2f2;
}

.card-header {
    color: #141759;
    font-weight: bold;
}

.card-body {
    color: white;
}

.card-body p a {
    color: lightskyblue !important;
}

.modal-footer button {
    background: #141759;
}

#manBody {
    background: url('../images/manned.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    mix-blend-mode: luminosity;
}

#mobBody {
    background: url('../images/patrol.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    mix-blend-mode: luminosity;
}

#keyBody {
    background: url('../images/Key-Holding.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    mix-blend-mode: luminosity;
}

#back-to-top {
    position: fixed;
    bottom: 16px;
    right: 16px;
    z-index: 98;
    padding: 6px 10px;
    background-color: #c2573c;
    color: aliceblue;
    box-shadow: 7px 7px 13px darkgray;
}
